<div class="tabing">
   <ul>
      <li><a class="active" href="#1"><i class="fa fa-plane" aria-hidden="true"></i> Flight</a>
   </ul>
   <div class="tab-content">
      <div id="1" class="tab1 active">
         <div class="flight-tab row">
            <div class="persent-one">
               <i class="fa fa-map-marker" aria-hidden="true"></i>
               <input type="text" name="dep" class="textboxstyle" id="dep" placeholder="From City">
            </div>
            <div class="persent-one">
               <i class="fa fa-map-marker" aria-hidden="true"></i>
               <input type="text" name="dep" class="textboxstyle" id="arival" placeholder="To City">
            </div>
            <div class="persent-one less-per">
               <i class="fa fa-calendar" aria-hidden="true"></i>
               <input type="text" name="dep" class="textboxstyle" id="from-date1" placeholder="Depart">
            </div>
            <div class="persent-one less-per">
               <i class="fa fa-calendar" aria-hidden="true"></i>
               <input type="text" name="dep" class="textboxstyle" id="to-date" placeholder="Returrn">
            </div>
            <!--<div class="persent-one">
               <i class="fa fa-user" aria-hidden="true"></i>
               <div class="textboxstyle" id="passenger">01 Passenger</div>
            </div>-->
            <div class="persent-one less-btn">
               <input type="Submit" name="submit" value="Search" class="btn btn-info cst-btn" id="srch">
            </div>
         </div>
         <!-- flight tab -->
      </div>
      <!-- tab 1 -->
      <div id="2" class="tab1">
         <div class="flight-tab row">
            <div class="persent-one">
               <i class="fa fa-map-marker" aria-hidden="true"></i>
               <input type="text" name="dep" class="textboxstyle" id="dep" placeholder="From City or airport">
            </div>
            <div class="persent-one">
               <i class="fa fa-map-marker" aria-hidden="true"></i>
               <input type="text" name="dep" class="textboxstyle" id="arival" placeholder="To City or airport">
            </div>
            <div class="persent-one less-per">
               <i class="fa fa-calendar" aria-hidden="true"></i>
               <input type="text" name="dep" class="textboxstyle" id="from-date1" placeholder="Depart">
            </div>
            <div class="persent-one less-per">
               <i class="fa fa-calendar" aria-hidden="true"></i>
               <input type="text" name="dep" class="textboxstyle" id="to-date" placeholder="Returrn">
            </div>
            <div class="persent-one">
               <i class="fa fa-user" aria-hidden="true"></i>
               <div class="textboxstyle" id="passenger">01 Passenger</div>
            </div>
            <div class="persent-one less-btn">
               <input type="Submit" name="submit" value="Search" class="btn btn-info cst-btn" id="srch">
            </div>
         </div>
         <!-- flight tab -->
      </div>
      <!-- tab 1 -->
   </div>
</div>
<!--<div class="container my-4">  

   <p class="font-weight-bold">Basic example</p>

   <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
     <thead>
       <tr>
         <th class="th-sm">Name
         </th>
         <th class="th-sm">Position
         </th>
         <th class="th-sm">Office
         </th>
         <th class="th-sm">Age
         </th>
         <th class="th-sm">Start date
         </th>
         <th class="th-sm">Salary
         </th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>Tiger Nixon</td>
         <td>System Architect</td>
         <td>Edinburgh</td>
         <td>61</td>
         <td>2011/04/25</td>
         <td>$320,800</td>
       </tr>  
        <tr>
         <td>Naina</td>
         <td>System Architect</td>
         <td>Edinburgh</td>
         <td>61</td>
         <td>2011/04/25</td>
         <td>$320,800</td>
       </tr>  
         <tr>
         <td>Kureel</td>
         <td>System Architect</td>
         <td>Edinburgh</td>
         <td>61</td>
         <td>2011/04/25</td>
         <td>$320,800</td>
       </tr>  
     </tbody>
     <tfoot>
       <tr>
         <th>Name
         </th>
         <th>Position
         </th>
         <th>Office
         </th>
         <th>Age
         </th>
         <th>Start date
         </th>
         <th>Salary
         </th>
       </tr>
     </tfoot>
   </table>
 </div>-->
 <div class="container">
   <ag-grid-angular
   style="width: 700px; height: 500px;"
   class="ag-theme-balham"
   [rowData]="rowData"
   [columnDefs]="columnDefs"
   [defaultColDef]="defaultColDef"
   [pagination]="true"
 >
 </ag-grid-angular>
</div>