<div class="container-fluid py-5">
    <div class="py-5">

        <div class="wrapper rounded bg-white">

            <div class="h3" style="background-color: coral;">Add Inventory</div>
            <br />
            <div class="form">
                <div class="row">
                    <div class="col-md-4  ">
                        <div class="form-outline flex-fill">
                            <label>Flight Number</label>
                            <input type="text" class="form-control" placeholder="Enter Flight Number" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-outline flex-fill">
                            <label>Flight Number</label>
                            <input type="text" class="form-control" placeholder="Enter To Place" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-outline flex-fill">
                            <label>From Place</label>
                            <input type="text" class="form-control" placeholder="Enter From Place" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 py-3" >
                    <label>Select Airline</label>
                    <select class="select"
                        style="width: 100%; padding: 2.5%;border-color: gainsboro; border-radius: 5px;">
                        <option value="" selected hidden>Choose Airline</option>
                        <option value="1">Position</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                    </select>
                </div>
                <div class="col-md-4  mt-3">
                    <div class="form-outline flex-fill">
                        <label>Start Date</label>
                        <input type="date" class="form-control" placeholder="Start Date" />
                    </div>
                </div>
                <div class="col-md-4  mt-3 ">
                    <div class="form-outline flex-fill">
                        <label>End Date</label>
                        <input type="text" class="form-control" placeholder="End Date" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-outline flex-fill">
                        <label>Schedule Days</label>
                        <select class="select"
                            style="width: 100%; padding: 2.5%;border-color: gainsboro; border-radius: 5px;">
                            <option value="" selected hidden>Choose Days</option>
                            <option value="1">Daily</option>
                            <option value="2">Weekend</option>
                            <option value="3">Week Days</option>
                            <option value="5">Monday</option>
                            <option value="6">Tuesday</option>
                            <option value="7">Wednesday</option>
                            <option value="8">Thursday</option>
                            <option value="9">Friday</option>
                            <option value="10">Saturday</option>
                            <option value="11">Sunday</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="form-outline">
                        <label>Instrument Used</label>
                        <select class="select"
                            style="width: 100%; padding: 2.5%;border-color: gainsboro; border-radius: 5px;">
                            <option value="" selected hidden>Select Options</option>
                            <option value="1">N56</option>
                            <option value="2">Dk89</option>
                            <option value="3">E11</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="form-outline">
                        <label>Select Seat Class</label>
                        <select class="select"
                            style="width: 100%; padding: 2.5%;border-color: gainsboro; border-radius: 5px;">
                            <option value="" selected hidden>Select Options</option>
                            <option value="1">Business</option>
                            <option value="2">NonBusiness</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4  mt-3">
                    <div class="form-outline flex-fill">
                        <label>Number of Rows</label>
                        <input type="text" class="form-control" placeholder="Number of Rows" />
                    </div>
                </div>
                <div class="col-md-4  mt-3">
                    <div class="form-outline flex-fill">
                        <label>Meal</label>
                        <select class="select"
                            style="width: 100%; padding: 2.5%;border-color: gainsboro; border-radius: 5px;">
                            <option value="" selected hidden>Select Options</option>
                            <option value="1">Veg</option>
                            <option value="2">Non Veg</option>
                            <option value="3">None</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4  mt-3 ">
                    <div class="form-outline flex-fill">
                        <label>Ticket Cost</label>
                        <input type="text" class="form-control" placeholder="Ticket Cost" />
                    </div>
                </div>
            </div>
            <div class="float-right text-lg-start mt-2 pt-2">
                <button type="submit" class="btn btn-success btn-lg"
                 style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit</button>               
            </div>
        </div>
    </div>
</div>